// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
// $pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Home page colors
$pure-white: #fff;
$pink: #ff0079;
$body-white: #f8f8f8;
$hr-line: #dfdfdf;
$menu-nav: #b7b6b5;
$rating-stars-card: #0f0f14;
$rating-card-text: #878789;
$rating-card-rating: #0f0f14;
$filter-nav: #80818a;
$footer-logo: #494c62;
$copyright-grey: #bfc0c4;
$rating-card-border: #3f3f43;
$movie-genre-color: #babbc3;
$movie-title-color: #494c62;

// Details page colors
$movie-card-text: #A9A8A3;
$tag-hover: #ddd;
$description: #B1B0AC;
$details-title2: #C7C1BA;