@import url('https://fonts.googleapis.com/css?family=Nunito');
 
// Variables
@import 'variables';
@import '_mediaQueries.scss';

//import pages
@import 'details.scss';
@import 'home.scss';
@import 'login.scss';
@import 'wishlist.scss';
@import 'search.scss';

//navigation
@import 'navigation.scss';
// Bootstrap
// @import '~bootstrap/scss/bootstrap';

*{
	margin: 0;
	padding: 0;
}
html,body{
	font-size: 14px;
	color: #333;
	// height: 100%;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background: rgba(51, 255, 0, 0.13);
}





// .list-wrapper {
// 	display: flex;
// 	flex-direction: column;
// 	background: yellow;
//   }
//   .grid-wrapper {
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;
// 	justify-content: center;
//   }

//   .column {
// 	float: left;
// 	width: 50%;
// 	padding: 10px;
//   }
.list-wrapper{
	display: flex;
	flex-direction: row;
	background: purple;
}
.grid-wrapper{
	display: flex;
	flex-direction: column;
	background: pink;
}

.card-list-wrapper{
	width: 200px;
}
.card-grid-wrapper{
	width: 90%;
}