//***home page mixins***
@mixin buttons-style {
    width: 140px;
    height: 40px;
    font-size: 15px;
    margin-bottom: 10px;
} 
@mixin flex-col {
    display: flex;
    flex-direction: column;
}
@mixin trailer-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin navbar-buttons {
    width: 200px;
    height: 60px;
    color: $pure-white;
    font-size: 20px;
}
@mixin a-links {
    color: $pure-white;
    text-decoration: none;
}
@mixin trailer-card-all {
    width: 23%;
    height: 550px;
    margin-right: 20px;
    float: left;
    box-shadow: 0 10px 20px rgba(136, 136, 136, 0.19),
        0 6px 6px rgba(133, 133, 133, 0.23);
    margin-bottom: 30px;
    .card-trailer-bottom {
        padding: 20px;
        .movie-title {
            font-size: 20px;
            text-decoration: none;
            color: $movie-title-color;
            font-weight: 600;
        }
        .movie-rating-wrapper {
            float: right;
            border: 2px solid $pink;
            width: 55px;
            height: 40px;
            justify-content: center;
            margin-top: -30px;
            border-radius: 6px;
            .movie-rating {
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                margin-top: -17px;
                color: $pink;
            }
        }
        .genre-wrapper {
            display: flex;
            .movie-genre {
                color: $movie-genre-color;
                margin-top: -18px;
                font-size: 18px;
                padding-right: 10px;
            }
        }
    }
    .movie-date-wrapper {
        span {
            margin-top: 400px;
            position: absolute;
            color: rgb(197, 197, 197);
            margin-left: 1.3%;
            font-size: 19px;
            font-weight: 600;
        }
        img {
            height: 450px;
            width: 100%;
        }
    }
}
.wrapper {
    background-color: $body-white;
    width: 100%;
    height: auto;
    min-height: 300px;
    display: inline-block;
    position: relative;

    .footer {
        margin-top: 100px;
        .footer-navmeni {
            float: right;
            .nav-items {
                color: $menu-nav;
                font-size: 17px;
                width: auto;
                height: auto;
                /* display: inline-block; */
                float: right;
                margin-right: 40px;
            }
        }
        .footer-logo-title {
            margin-left: 50px;
            font-size: 30px;
            color: $footer-logo;
        }
        .copyright {
            margin-left: 50px;
            color: $copyright-grey;
            padding-top: 20px;
        }
    }
}
.bgslide {
    
    float: left;
    position: relative;
    border-bottom: 2px solid $pink;
    .header-line {
        color: white;
        position: absolute;
        bottom: 190px;
        font-size: 60px;
        margin-left: 140px;
    }
    .filter-navbar {
        position: absolute;
        bottom: 140px;
        display: flex;
        margin-left: 130px;
        font-size: 22px;

        a {
            @include a-links;
            padding: 14px 20px;
            text-align: center;
        }
    }
}
.bgimage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    position: relative;
    border-bottom: 2px solid $pink;
   
    
}
.movie-poster-wrapper {
    display: inline-block;
    width: 95%;
    float: left;
    padding: 60px 35px 10px;
    .movie-categorisation {
        a {
            color: $menu-nav;
            text-decoration: none;
        }
        .btn-movie-filter {
            @include navbar-buttons;
            background-color: rgba(255, 255, 255, 0);
            border-radius: 3px;
            border: none;
            margin-right: 20px;
            font-size: 30px;
            color: $filter-nav;
            outline: none;
        }
        .icon-list-1 {
            position: absolute;
            right: 50px;
        }
        .icon-grid {
            position: absolute;
            right: 90px;
        }
        .fa-th-large,
        .fa-stream {
            font-size: 30px;
            color: $pink;
        }
    }
    hr {
        background-color: $hr-line;
        border: none;
        height: 2px;
        width: 100%;
    }
    .movie-trailer-grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        // max-width: 1145px;
    }
}
.trailer-card {
@include trailer-card-all;
}
.button-navbar {
    position: absolute;
    bottom: 60px;
    display: flex;
    margin-left: 140px;
    font-size: 17px;
    .btn-watch-movie {
        @include navbar-buttons;
        background-color: $pink;
        border: none;
        border-radius: 3px;
        margin-right: 20px;
        a {
            @include a-links;
        }
    }
    .btn-view-info {
        @include navbar-buttons;
        background-color: rgba(255, 0, 179, 0);
        border: 2px solid $pure-white;
        border-radius: 3px;
        margin-right: 20px;
        a {
            @include a-links;
        }
    }
    .btn-add-to-wishlist {
        @include navbar-buttons;
        background-color: rgba(255, 0, 179, 0);
        border: none;
        a {
            @include a-links;
        }
    }
}

.rating-card {
    position: absolute;
    bottom: 50px;
    right: 70px;
    padding: 16px;
    text-align: center;
    border-radius: 3px;
    background-color: $rating-stars-card;
    color: $pure-white;
    border: 1px solid $rating-card-border;
}
.rating-card-wrapper {
    float: left;
    width: 20%;
    padding: 0 10px;
    display: flex;
}
.rating-stars {
    display: flex;
}
.fa-star {
    font-size: 30px;
    letter-spacing: 13px;
    color: $pink;
    padding-top: 15px;
}
.card h3 {
    font-size: 20px;
    font-weight: 400;
}
.reviews-letter {
    color: $rating-card-text;
    font-size: 16px;
}

.list-column-view {
    @include flex-col;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
}
.grey-background{
    background: #f8f8f8;
}
//***media queries***

@include responsive(laptop) {
    .bgslide {
        height: 800px;
    }
}
@include responsive(tab-land) {
    .movie-poster-wrapper {
        width: 93%;
    }
    .card {
        width: 10%;
    }
    .fa-star {
        font-size: 13px;
        letter-spacing: 7px;
    }
    .btn-movie-filter {
        font-size: 20px;
        letter-spacing: 2px;
        margin-right: 0;
    }
    .movie-title {
        font-size: 18px !important;
    }
    .movie-rating-wrapper {
        width: 40px;
        height: 38px;
    }
    .movie-rating {
        margin-top: -21px;
    }
    .movie-genre {
        font-size: 16px !important;
    }
}
@include responsive(tab-l) {
    .rating-card {
        position: absolute;
        bottom: -50px;
        right: 40px;
    }
}

@include responsive(tab-m) {
    .trailer-card {
        width: 30%;
    }
    .movie-title {
        font-size: 15px !important;
    }
    .movie-rating-wrapper {
        width: 36px;
        height: 35px;
    }
    .movie-genre {
        font-size: 14px !important;
    }
}
@include responsive(phone-l) {
    .header-line {
        position: relative !important;
        margin-top: 300px !important;
        font-size: 40px !important;
        margin-left: 100px !important;
    }
    .logo-box {
        h1 {
            font-size: 27px !important;
            margin-left: -50px !important;
        }
    }
    .button-navbar {
        @include flex-col;
        margin-left: 120px;
    }
    .filter-navbar {
        @include flex-col;
        margin-top: 100px;
        padding-bottom: 120px;
    }
    .rating-card {
        position: absolute;
        bottom: -50px;
        right: 40px;
    }
    .footer-logo-title {
        font-size: 25px;
    }
    .trailer-card {
        width: 46%;
    }
    .movie-rating {
        margin-left: 10px;
    }
}
@include responsive(phone-m) {
    .movie-trailer-grid {
        @include trailer-grid;
    }
    .movie-title {
        font-size: 15px !important;
    }
    .movie-rating-wrapper {
        width: 36px;
        height: 35px;
    }
}
@include responsive(phone) {
    .movie-trailer-grid {
        @include trailer-grid;
    }
    .trailer-card {
        width: 100%;
    }
}
