.nav-nav {
	position: absolute;
	z-index: 100;
	float: right;
	width: 100%;
	padding-top: 30px;
  }
  .logo-box {
	width: 150px;
	height: auto;
	display: inline-block;
	float: left;
	padding-left: 130px;
	h1{
		color: $pure-white;
		letter-spacing: 2px;
		font-size: 45px;
		font-weight: 500;
	}
  }
  .menu-nav {
	width: auto;
	height: auto;
	display: inline-block;
	float: right;
  
	ul li {
	  list-style-type: none;
	  display: inline-block;
	  padding: 1px;
  
	  a {
		color: $pure-white;
		text-decoration: none;
		font-family: open sans;
		font-size: 18px;
		-webkit-transition: all ease 0.4s;
		-moz-transition: all ease 0.4s;
	  }
	}
  }
  .btn-signin-signin {
	background-color: $pink;
	width: 170px;
	height: 60px;
	border-radius: 3px;
	color: $pure-white;
	font-size: 20px;
	border: none;
	margin-right: 20px;
  }
  .btn-login-login {
	background-color: rgba(230, 0, 161, 0);
	width: 100px;
	height: 60px;
	color: $pure-white;
	font-size: 20px;
	border: none;
  }
  .fa-search {
	font-size: 30px;
	color: $pure-white;
	font-weight: 200;
  }
  .search-livewire-style[type=text] {
	width: 130px;
	border: none;
	font-size: 16px;
	background-color: transparent;
	background-image: url(../images/searchicon.png);	
	background-position: 103px 12px; 
	background-repeat: no-repeat;
	background-size: 25px 25px;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition:  0.7s ease-in-out;
}
.search-livewire-style[type=text]:focus{
	background: $pink;
	color: $pure-white;
	font-size: 20px;
	width: 170px;
    height: 60px;
    border-radius: 3px;
	outline: none;
}

@media screen and (max-width: 650px){
	.btn-signin-signin{
		width: 70px;
		height: 30px;
		font-size: 15px;
	}
	.btn-login-login{
		width: 70px;
		height: 30px;
		font-size: 15px;
	}
}
@media screen and (max-width: 650px){
	.logo-box h1{
		font-size: 20px;
	}
	.menu-nav ul li{
		padding: 0 10px;
	}
}
