.btn-wishlist{
    width: 150px;
    background: #ff00ee;
    color: white; 
    height: 30px;
    border-radius: 5px;
    border: none;
    a{
    color: white;
    font-weight: 700;
    text-decoration: none;
    }
}
.trailer-card-wishlist{
    @include trailer-card-all;
}
